@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 40px;
  box-sizing: border-box;
}

#canvas {
  box-shadow: 0 0 10px #0005;
  width: 100%;
  height: 100%;
}

svg text {
  paint-order: stroke;
  stroke-linejoin: round;
}