@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 40px;
  box-sizing: border-box;
}

#canvas {
  box-shadow: 0 0 10px #0005;
  width: 100%;
  height: 100%;
}

#canvas[mode=text] text {
  outline: 1px solid #0007;
  cursor: text;
}
#canvas[mode=text] text:hover {
  outline: 1px solid #000d;
  cursor: text;
}

svg text {
  paint-order: stroke;
  stroke-linejoin: round;
}

#whiteboardTextControls {
  display: flex;
  flex-direction: column;
  padding: 6px;
  gap: 6px;
  transform: translate(-50%, -160%);
  background-color: white;
  box-shadow: 0 0 4px #0005;
}

#whiteboardTextControls > textarea, #whiteboardTextControls > input {
  resize: none;
  border: none;
  outline: 1px solid #aaa;
  font: inherit;
}

#whiteboardTextControls > input {
  padding: 0 6px;
  width: 30px;
}